.input {
  padding: 1em 0.8em;
  max-width: 200px;
  flex-grow: 1;
  box-sizing: border-box;
  &--default {
    background-color: transparent;
    border: 1px solid #bdbbbb;
  }
  &--filled {
    background-color: grey;
  }
  &--unstyled {
    border: none;
    padding-inline: 0;
    background-color: transparent;
  }
  &__error {
    border-color: red;
    color: red;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    max-width: 200px;
    width: 100%;
    flex-grow: 1;
  }
  &__list {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    justify-content: center;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      width: 50px;
    }
  }
  &__decor {
    width: 15px;
    height: 15px;
    margin-left: 10px;
  }
  &--transparent {
    background-color: transparent;
  }
  &--rounded {
    &-xs {
      border-radius: 2px;
    }
    &-sm {
      border-radius: 5px;
    }
    &-md {
      border-radius: 10px;
    }
    &-lg {
      border-radius: 15px;
    }
    &-xl {
      border-radius: 20px;
    }
  }
  &::placeholder {
    color: rgb(212, 209, 209);
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  max-width: 200px;
  &--red {
    color: red;
  }
  &--xs {
    font-size: 12px;
  }
  &--sm {
    font-size: 14px;
  }
  &--md {
    font-size: 16px;
  }
  &--lg {
    font-size: 18px;
  }
  &--xl {
    font-size: 20px;
  }
}
